@media(min-width:300px){
        .swiper-slide{
            .slide-inner--info{
                width: auto;
                top:10%;
                left: 10%;
                h1{
                    margin: 10px 0;
                    text-transform: uppercase;
                    font-weight: 500;
                    line-height: 1em;
                    color: #fff;
                    font-size: 60px;
                    font-family:'Times New Roman', Times, serif;
                }
                p{
                    font-size: 20px;
                    font-weight: 500;
                    font-style: normal;
                    font-family: 'Courier New', Courier, monospace;
                }
                img{
                    width: 100px;
                }
            }
            .swiper-inner-image{
            height: 90vh;
            }
        }
       .blog{
        .swiper-slide{
            h1{
                font-size: 50px;
            }
        }
       }
    footer{
        ul{
            li{
                width: 25%;
                span{
                    font-size: 14px;
                    font-weight: 600;
                }
                svg,img{
                    width: 30px;
                    font-size: 30px;
                }
            }
        }
    }
}
@media(min-width:600px){
    .blog{
        .swiper-slide{
            h1{
                font-size: 90px;
            }
        }
       }
    .swiper-slide{
        .slide-inner--info{
            width: 50%;
            height: 200px;
            min-height: 50px;
            top:30%;
            left: 10%;
            h1{
                margin: 10px 0;
                text-transform: uppercase;
                font-weight: 600;
                line-height: 1.1em;
                color: #fff;
                font-size: 90px;
            }
        }
        .swiper-inner-image{
            height: 90vh;
            }
    }
    footer{
        ul{
            li{
                width: 25%;
                span{
                    font-size: 14px;
                }
                svg,img{
                    width: 35px;
                    font-size: 35px;
                }
            }
        }
    }
}
@media(min-width:1000px){
    .blog{
        .swiper-slide{
            h1{
                font-size: 120px;
            }
        }
       }
    .swiper-slide{
        .slide-inner--info{
            width: 50%;
            height: 200px;
            min-height: 50px;
            top:30%;
            left: 10%;
            h1{
                margin: 10px 0;
                text-transform: uppercase;
                font-weight: 600;
                line-height: 1.1em;
                color: #fff;
                font-size: 90px;
            }
        }
        .swiper-inner-image{
            height: 100vh;
            }
    }
    footer{
        ul{
            li{
                width: 12.5%;
                span{
                    font-size: 17px;
                    font-weight: 600;
                }
                svg,img{
                    width: 50px;
                    font-size: 50px;
                }
            }
        }
    }
}